html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.screen-container {
	height: 100vh;

	.search-input-container {
		width: 80%;
		max-width: 400px;
		box-sizing: border-box;
		position: relative;
	}

	.search {
		border: 1px solid #FFFFFF;
		border-radius: 4px;
		width: 100%;
		height: 100%;
		padding: 0 35px 0 10px;
		font-size: 13px;
		color: white;
		box-sizing: border-box;

		&::-webkit-input-placeholder {
			color: white;
		}
		
		+ span {
			background: url(../images/icon-search.png) 0 0 / 100% auto;
			width: 20px;
			height: 20px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.search-screen {
	background: url(../images/background.jpg) center center /cover no-repeat;
	
	.logo-and-search {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		width: 100%;

		.logo {
			display: block;
			margin: 0 auto;
			margin-bottom: 50px;
			width: 50%;
			max-width: 250px;
		}

		.search-input-container {
			margin: 0 auto;
			height: 40px;
		}
		.search {
			background-color: rgba(215,215,215,0.50);
		}
	}
}

.results-screen {
	header {
		height: 64px;
		box-sizing: border-box;
		padding: 12px 12px 12px 20px;
		background-color: #2C3439;
	}
	.logo, .search-input-container {
		display: inline-block;
	}
	.logo {
		height: 100%;
	}
	.search-input-container {
		height: 100%;
		vertical-align: top;
		margin-left: 5%;
		width: 70%;
	}
	.search {
		background-color: transparent;
		border-color: #9CAEB7;
	}

	.results {
		padding-left: 20px;

		> li {
			width: 250px;
			height: 350px;
			list-style-type: none;
			-webkit-box-shadow: 2px 3px 5px 0px #aaa;
			box-shadow: 2px 3px 5px 0px #aaa;
			box-shadow: 2px 3px 5px 0px #aaa;
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 20px;
			vertical-align: top;

			> .img-container {
				height: 70%;
				overflow: hidden;

				> img {
					width: 100%;
				}
			}
			> .text-container {
				padding: 15px;

				> .film-title, .film-year {
					font-size: 14px;
					margin: 0;
					line-height: 1.6;
				}
				.film-title {
					font-weight: normal;
				}
			}
		}
	}
}